main#task-7 {
  margin: auto;
  width: max-content;
}

#task-7 h1 {
  text-align: center;
}

#task-7 ul {
  border: 1px solid #cbcbcb;
  list-style-type: none;
  padding: 0;
}

#task-7 li {
  padding: 12px;
}

#task-7 ul > li:nth-child(even) {
  background-color: #e7e7e7;
}


#task-7 fieldset {
  display: flex;
  flex-direction: column;
}

#task-7 fieldset > label:not(:first-of-type) {
  margin-top: 4px;
}