main#task-6 {
  margin: auto;
  width: max-content;
}

#task-6 h1 {
  text-align: center;
}

#task-6 ul {
  border: 1px solid #cbcbcb;
  list-style-type: none;
  padding: 0;
}

#task-6 li {
  padding: 12px;
}

#task-6 ul > li:nth-child(even) {
  background-color: #e6e6e6;
}


#task-6 fieldset {
  display: flex;
  flex-direction: column;
}

#task-6 fieldset > label:not(:first-of-type) {
  margin-top: 4px;
}