main#task-4 {
  margin: auto;
  width: max-content;
}

#task-4 h1 {
  text-align: center;
}

#task-4 ul {
  border: 1px solid #cbcbcb;
  list-style-type: none;
  padding: 0;
}

#task-4 li {
  padding: 12px;
}

#task-4 ul > li:nth-child(even) {
  background-color: #e6e6e6;
}
