main#task-4 {
  margin: auto;
  width: max-content;
}

#task-4 h1 {
  text-align: center;
}

#task-4 table {
  border-collapse: collapse;
  border: 1px solid #cbcbcb;
}

#task-4 tbody > tr:nth-child(even) {
  background-color: #ebebeb;
}

#task-4 tr:last-of-type {
  border-bottom: 1px solid #cbcbcb;
}

#task-4 th, #task-4 td {
  padding: 8px;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}