main#task-10 {
  margin: auto;
  width: max-content;
}

#task-10 h1 {
  text-align: center;
}

#task-10 ul {
  border: 1px solid #cbcbcb;
  list-style-type: none;
  padding: 0;
}

#task-10 li {
  padding: 12px;
}

#task-10 ul > li:nth-child(even) {
  background-color: #e8e8e8;
}


#task-10 fieldset {
  display: flex;
  flex-direction: column;
}

#task-10 fieldset > label:not(:first-of-type) {
  margin-top: 4px;
}